.report__card{
    /* background: red; */
    margin: 10px 0px 0px
}
.card__title{
    background: var(--color2);
    color: var(--color8);
    font-family: "Roboto-Bold";
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.card__body{
    background: var(--color8);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 15px 10px;
}
.body__marck{
    border: 1px solid var(--color6);
    padding: 10px;
}
.card__body b{
    color: var(--color5);
}
.card__body p{
    margin: 10px 0;
    color: var(--color6);
}
.card__footer{
    background: var(--color2);
    color: var(--color8);
    font-family: "Roboto-Bold";
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}