@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
}

body {
    background: var(--color3);
}

.main {
    /* background: red; */
}

.main__banner {
    height: 245px;
    background-image: url(../storage/img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner__opcion {
    /* background: red; */
    padding-top: 40px;
    display: flex;
    margin: 0 var(--layout-box-x);
    justify-content: space-between;
}
.banner__opcion a{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background: orange;
    color: var(--color2);
    box-shadow: 0px 0px 10px var(--color7);
}
.banner__opcion a:first-child{
    border-radius: 10px;
    background: var(--color8);
    text-decoration: none;
    gap: 10px;
    padding: 5px 10px;
}
.banner__opcion a:last-child{
    border-radius: 100%;
    background: var(--color8);
    padding: 8px;
}
.main__report {
    /* background: blue; */
}

.report__user {
    /* background: green; */
    margin-left: var(--layout-box-x);
    margin-right: var(--layout-box-x);
    margin-top: var(--layout-box-y);
}

.report__user h1 {
    font-family: "Roboto-Medium";
    color: var(--color5);
    font-size: 1.8em;
    padding-bottom: 8px;
}

.report__user small {
    font-size: .8em;
    color: var(--color6);
}

.report__menu {
    height: 55px;
    margin-right: var(--layout-box-x);
    margin-left: var(--layout-box-x);
    margin-top: var(--layout-box-y);
    background: var(--color7);
    border-radius: 10px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    overflow-x: scroll;
}

.report__menu button {
    min-width: 30%;
    height: 45px;
    text-transform: uppercase;
    border: none;
    background: transparent;
    color: var(--color2);
    font-family: "Roboto-Bold";
    margin: 0 5px;
}
.report__active{
    background: var(--color8) !important;
    color: var(--color5) !important;
    border-radius: 10px !important;
    margin: 0 5px !important;
}
.report__menu button:hover {
    background: var(--color8);
    color: var(--color5);
    border-radius: 10px;
    margin: 0 5px;
}

.report__details {
    /* background: violet; */
    margin-top: var(--layout-box-y);
    height: 290px;
    overflow-y: scroll;
}

.report__container{
    height: 220px;
    overflow-y: scroll;
    margin-top: 10px;
}
