<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>report</title>
    <link rel="stylesheet" href="../css/report.css">
    <script type="module" src="../js/report.js" defer></script>
</head>
<body>
    <main class="main">
        <section class="main__banner">
            <article class="banner__opcion">
                <a href="#"><img src="../storage/img/arrowBack.svg"> Go back</a>
                <a href="#"><img src="../storage/img/option.svg"></a>
            </article>
        </section>
        <section class="main__report">
            <article class="report__user">
                <h1>Report Garden</h1>
                <small id="clock"></small>
                <strong> Report / clients</strong>
            </article>
            <article class="report__menu">
                <button class="report__active">clients</button>
                <button>employees</button>
                <button>gama</button>
                <button>offices</button>
                <button>payments</button>
                <button>product</button>
                <button>request details</button>
                <button>requests</button>
            </article>
            <article class="report__details"></article>
        </section>
    </main>
</body>
</html>